body {
    font-family: Arial, sans-serif;
    text-align: center;
    margin: 0;
}

header {
    padding: 40px;
}

h1 {
    font-size: 40px;
}

section {
    padding: 30px;
}

footer {
    padding: 20px;
}
